.f{
    border: 2px solid blue;
    margin: 300px 260px 0px;
    padding-left: 100px;
    background-color: rgb(185, 236, 240);
}
body{
    background-image: url(sea.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
.select{
    width: 300px;
}
.heading{
    padding-left: 30%;
}
.in{
    margin-left: 40%;
}
.d{
    margin-bottom: 20px;
    text-transform: capitalize;
}
.table{
    padding-left: 125px;
}